{% extends "base.html" %}
{% block content %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Совет:</dt>
        <dd><textarea name="text" rows="5" cols="40"></textarea></dd>
        <dd><input type="submit" value="Share"></dd>
      </dl>
    </form>
  {% endif %}

<header class="jumbotron masthead">
  <div class="inner">
    <h1>{{ text|safe }}</h1>
  </div>
  <p class="download-info"><br />
    <a href="/" class="btn btn-primary btn-large" >Новый совет</a><br />
  </p>
  <p class="download-info">
    Поделись советом — 
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ text|striptags|truncate(length=102, end='…') }}" data-via="odessitme" data-lang="ru" data-size="large">Твитнуть</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </p>
</header>

{% endblock %}